* {
    margin: auto;
}
.circle {
    background-image: 
    conic-gradient(
    #4e79a7 0,
    #4e79a7 38%,
    #f28e2c 0,
    #f28e2c 61%,
    #e15759 0,
    #e15759 77%,
    #76b7b2 0,
    #76b7b2 87%,
    #59a14f 0,
    #59a14f 93%,
    #edc949 0,
    #edc949 100%
    );
    height: 600px;
    width: 600px;
    border-radius: 50%;
}
.indicator {
    
}